/**
* ostia puta chavales es que no me lo creo fFDSFADSFSADFASDFASDFdsasfdafasdf me quireo puro matar
ASFDASDFASD
had an affair with the devilFASFDASDF

s/* To change stuff like the colors, transparency and background image, change the variables inside the root {}, do NOT change the @import url() */


@import url(https://raw.githubusercontent.com/omiwoomi/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.css);

* {
	font-size: 16px;
	line-height: 100%;
	font-smooth: never;
-webkit-font-smoothing : none;
	font-weight: 400;
}

.container-q97qHp {
	font-size: 16px;
	font-weight: unset;
	letter-spacing: 0px;
}

.username-h_Y3Us{
	font-size: 16px;

}

.markup-eYLPri{
	font-size: 16px;
}

.compact-2Nkcau .header-2jRmjb{
	font-size: 16px;
}

.message-3g3FYR, .message-372Ods, .zalgo-26OfGz .messageContent-2t3eCI, .zalgo-26OfGz.cozy-VmLDNB .header-2jRmjb, .wrapper-15CKyy, .cozy-3hKWhq .header-35u4WP{
	font-size: 16px;
}

.compact-2Nkcau .timestamp-p1Df1m, .cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH{
	font-size: 16px;
	text-indent: unset;
}

.textArea-2CLwUE{
	font-size: 16px;
}

.messageListItem-ZZ7v6g{
	font-size: 16px;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var{
	font-size: 16px;
}

.subtext-14b69p{
	font-size: 16px;
}

.heading-lg-bold-242r2N, .heading-lg-semibold-14ouVv{
	font-size: 16px;
}

.eyebrow-1Shfyi, .heading-deprecated-12-normal-2QSQ4R{
	font-size: 16px;
}

.eyebrow-1Shfyi{
	letter-spacing: 0;
}

.text-xs-medium-311pdh, .text-xs-normal-3O7EaX{
	font-size: 16px;
}

.text-sm-medium-2-Xzsi, .text-sm-normal-AEQz4v{
	font-size: 16px;
}

.body-2Fhyoo{
	font-size: 16px;
}

.textarea-_59yqs{
	font-size: 16px;
}

.compact-2Nkcau .repliedMessage-3Z6XBG{
	--text-indent: 0;
	padding-left: 0;
}

.executedCommand-14-SNW, .repliedMessage-3Z6XBG, .threadMessageAccessory-2W9mjC{
	font-size: 16px;
}

.embedDescription-1DrJxZ{
	font-size: 16px;
}

.embedAuthorName-pGyUPR{
	font-size: 16px;
}

.embedField-2kda1Q, .embedFieldName-9LYSyR{
	font-size: 16px;
}

.embedFieldValue-3EHtvR{
	font-size: 16px;
}

.embedFooterText-2Mc7H9{
	font-size: 16px;
}

.usernameFont-2oJxoI{
	font-size: 16px;
}

.description-foE_WP{
	font-size: 16px;
}

.eyebrow-2wJAoF, .heading-deprecated-12-normal-2W7e8Q{
	font-size: 16px;
}

.heading-xl-bold-38fuFv, .heading-xl-semibold-3E1dYv{
	font-size: 16px;
}

.text-xs-bold-9jfMvZ, .text-xs-semibold-GgBYxI{
	font-size: 16px;
}

.text-MPIeXO{
	font-size: 16px;
}

.text-sm-bold-2BCfqW, .text-sm-semibold-S5fJwz{
	font-size: 16px;
}

.subtext-xfubwR{
	font-size: 16px;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG{
	font-size: 16px;
}

.groupLabel-KyZarI{
	font-size: 16px;
	font-weight: 400;
}

.content-3spvdd{
	font-size: 16px;
}

.topic-11NuQZ{
	font-size: 16px;
}

.inputText-30IjXy{
	letter-spacing: 0;
}

.eyebrow-2wJAoF{
	letter-spacing: 0;
}

.timestamp-p1Df1m.latin24CompactTimeStamp-2pXUBq{
	width: 3.5rem;
}

.base-3bcbY3{
	font-size: 16px;
	font-weight: 400;
}

.typingDots-1Y8dki{
	font-size: 16px;
}

.rem-3kT9wc.botTag-7aX5WZ{
	padding: 3px;
}

.markup-eYLPri code.inline{
	font-family-monospace: unifont;
	font-size: 16px;
	padding: 0px;
}

.base-3bcbY3 .cooldownWrapper-2k1jHK, .base-3bcbY3 .typingDots-1Y8dki{
	font-size: 16px;
}

.compact-2Nkcau .avatar-2e8lTP{
	width: 16px;
	height: 16px;
	margin-left: 2px;
	margin-right: 4px;
}

:root {
	--transparencycolor:			0,0,0;						/* default:	0,0,0																								*/
	--transparencyalpha:			0.5;						/* default: 0.15				(general darkness of the app)													*/
	--messagetransparency:			0.15;						/* default: 0.5					(additional shadows behind messages, set to 0 to remove boxes)					*/
	--guildchanneltransparency:		0.15;						/* default: 0.15				(additional darkness for guild/channel list)									*/
	--chatinputtransparency:		0.0;						/* default: 0.0					(additional darkness for chat input container)									*/
	--memberlisttransparency:		0.15;						/* default: 0.0					(additional darkness for member list)											*/
	--accentcolor:					255,120,165;					/* default: 190,78,180			(RGB-format - blurple: 88,101,242 bd-blue: 58,113,193)							*/
	
	--font-family-monospace:			"unifont";		/* font used in most places										*/
	--textshadow:					transparent;				/* default: transparent			(textshadow for text ontop of accentcolor nodes, ONLY accepts a color, no px)	*/
	--settingsicons:				1;							/* Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no											*/
	
	--background:					url(https://derpicdn.net/img/view/2020/12/1/2500321.jpg); /*https://cdn.discordapp.com/attachments/880297347131801653/1088296268490608660/journey_by_nowisee17_db1p6g8.png);	 general background image				*/
	--backgroundposition:			center;						/* default: center				(position of background - values: [center/top/right/bottom/left])				*/
	--backgroundsize:				cover;						/* default: cover				(sizefit of background - values: [cover/contain/auto])							*/
	--backgroundblur:				unset;						/* default: unset				(blur in px, only works when --background is set to an image)					*/
	
	--popout:						var(--background);			/* default: var(--background)	(change to use another background/color for modals/popouts)						*/
	--popoutposition:				var(--backgroundposition);	/* default: center				(position of popout - values: [center/top/right/bottom/left])					*/
	--popoutsize:					var(--backgroundsize);		/* default: cover				(sizefit of popout - values: [cover/contain/auto])								*/
	--popoutblur:					var(--backgroundblur);		/* default: unset				(blur in px, only works when --popout is set to an image)						*/
	
	--backdrop:						rgba(0,0,0,0.85);			/* default: rgba(0,0,0,0.85)	(change to use another background/color for backdrops)							*/
	--backdropposition:				center;						/* default: center				(position of backdrop - values: [center/top/right/bottom/left])					*/
	--backdropsize:					cover;						/* default: cover				(sizefit of backdrop - values: [cover/contain/auto])							*/
	--backdropblur:					unset;						/* default: unset				(blur in px, only works when --backdrop is set to an image)						*/
	
	--textbrightest: 				255,255,255;				/* default: 255,255,255			(text color for the brightest texts)											*/
	--textbrighter: 				222,222,222;				/* default: 222,222,222			(text color for brighter texts)													*/
	--textbright: 					200,200,200;				/* default: 200,200,200			(text color for bright texts)													*/
	--textdark: 					160,160,160;				/* default: 160,160,160			(text color for dark texts)														*/
	--textdarker: 					125,125,125;				/* default: 125,125,125			(text color for darker texts)													*/
	--textdarkest: 					90,90,90;					/* default: 90,90,90			(text color for the darkest texts)												*/
	
	--version1_0_5:					none;						/* DO NOT CHANGE THIS VARIABLE , USED TO HIDE UPDATE NOTICE														*/
}

	

